<div class="col-md-12" ng-hide="showResults">
			<div class="row logos">
				<div class="col-md-3" ng-click="search('Lego'); showResults = 'true'">
					<img src="./lego.png" class="img-circle" style="border-color: #F59314">
					<h3>Lego</h3>
				</div>
				<div class="col-md-3"> <!--SPIDERMAN, BATMAN, AVENGERS, HULK, SUPER HEROES, -->
					<img src="./avengers.jpg" class="img-circle" style="border-color: #FF3030">
					<h3>Superheroes</h3>
				</div>
				<div class="col-md-3">
					<img src="./disney.jpg" class="img-circle" style="border-color: #F514E6">
					<h3>Disney Characters</h3>
				</div>
				<div class="col-md-3" ng-click="search('puzzel')">
					<img src="./puzzle2.png" class="img-circle" style="border-color: #009999">
					<h3>Puzzles</h3>
				</div>
				
				
				<div class="col-md-3"> <!-- PS4, NINTENDO, ZELDA, SUPERMARIO, -->
					<img src="./games.png" class="img-circle" style="border-color: #04C967">
					<h3>Video Games</h3>
				</div>
				<div class="col-md-3"> <!-- BARBIE, ..-->
					<img src="./doll.png" class="img-circle" style="border-color: #cc9900">
					<h3>Dolls</h3>
				</div>
				<div class="col-md-3" ng-click="search('star wars')">
					<img src="./death-star.png" class="img-circle" style="border-color: #0099ff">
					<h3>Star Wars</h3>
				</div>			
				<div class="col-md-3"> <!--!!!!!!!!!!!!!!!!!!!! MONOPOLY, CARCASSONNE, DOMINO, BOARD GAMES, MEMORY -->
					<img src="./board.png" class="img-circle" style="border-color: #e5e600">
					<h3>Board games</h3>
				</div>
			</div>
		</div>